@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Jost", sans-serif;
}

.btn-color{
  background-color: #0dcaf0;
}
.hover-btn:hover{
  background-color: #0dcaf0;
  color: white;
}
.text-hover:hover{
  color: #0dcaf0;
}

.bg-img{
  background-image: url('/herohome.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  min-height: 132px;
  max-height: 165px;
}

@media (min-width: 1024px){
  .bg-img{
  min-height: 446px;
  max-height:448px ;
}
}

.section-one-bg-color{
  background-color: #F5F3F3;
}

.section-four-bg{
background-color: rgba(13, 202, 240, 0.3);
}

@media(min-width: 1024px){

  .login-bg{
    background-image: url('/login.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 3rem;
  }
}

@media(min-width: 1440px){

  .login-bg{
    padding-top: 5rem;
  }
}

@media(min-width: 1024px){

  .signup-bg{
    background-image: url('/signup.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     padding-top: 3.5rem;
     padding-bottom: 3.5rem;
     height: 100vh;
  }
}

.contactus-bg{
   background-image: url('/herocontact.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
}



